@import url('https://fonts.loli.net/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #242424;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.boxes {
  text-align: center;
}

.box {
  display: inline-block;
  font-weight: 400;
  min-width: 90px;
  font-size: 96px;
  margin-right: 20px;
  margin-left: 20px;
  color: #fff;
}

.tour {
  display: inline-block;
  width: 350px;
}

.tour_item {
  display: block;
  font-weight: 400;
  min-width: 90px;
  font-size: 32px;
  margin-right: 20px;
  margin-left: 20px;
  color: #fff;
}

.button_box {
  text-align: center;
}

.button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  padding: 8px 40px 8px 40px;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 60px;
}

button[disabled='disabled'],
button:disabled {
  cursor: pointer;
  background-color: #4a5053;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: rgb(8, 0, 0);
  padding: 8px 40px 8px 40px;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 60px;
}
